.carousel .slide {
  text-align: start !important;
}
.carousel.carousel-slider {
  overflow: unset;
}
@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: -70px;
  }
}
@media (max-width: 960px) {
  .carousel .control-dots {
    bottom: -70px;
  }
}
.carousel .control-dots .dot {
  width: 10px;
  height: 10px;
}
